<mat-card class="user-card">
    <img src="./assets/img/user-avatar.png" alt="">
    <div class="user-detail">
        <h2>{{ user.firstName }} {{ user.lastName }}</h2>
        <h3>{{ user.mail }}</h3>
    </div>
</mat-card>
<mat-card class="mt-32 user-information">
    <mat-card-header class="mb-16">Adress</mat-card-header>
    <mat-card-content>
        <ul>
            <li>Street: {{ user.street }} <br></li>
            <li>City: {{ user.zipCode }} {{ user.city }}</li>
        </ul>
        
        
    </mat-card-content>
</mat-card>